.label {
    color: $box-inversed-text-dimmed-color;
    font-size: 12px;
    text-transform: uppercase;
}

.value {
    margin-bottom: .5em;
    color: $box-inversed-text-color;
    font-size: 68px;
    font-weight: 300;
}
